input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 20px auto;

  display: inline-block;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}

button {
  font-family: "Verdana";
  font-size: 17px;
  width: 100%;
  background-color: #2b415e;
  color: white;
  padding: 10px;
  margin-top: 40px;
  border: none;
  border-radius: 2px;

  text-align: center;
  transition-duration: 0.3s;
}

button:hover {
  filter: brightness(1.2);
  -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.36);
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.36);
}

.container {
  width: 90%;
  margin: auto;
}
.outerBox {
  width: 450px;
  height: 100%;
  background-color: darkslategray;
}

.instead {
  margin: 0 auto;
  width: 90%;
}

.instead button {
  margin-top: 10px;
}
