.ClassWrapper {
  display: flex;
  height: 90vh;
  margin: 5px;
  text-align: center;
}

.SettingsHomework {
  width: 30%;
  margin: 4px;
}
.classSettings {
  border: 1px solid #212121;
  height: 50%;
  margin-bottom: 6px;
  background-color: #212121;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 1s;
}
.classSettings:hover {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  transition: 0.3s ease-in-out;
}

.classHomework {
  border: 1px solid #212121;
  height: 50%;
  background-color: #212121;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 1s;
}
.classHomework:hover {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  transition: 0.3s ease-in-out;
}
.classChat {
  border: 1px solid #212121;
  background-color: #212121;

  height: 100%;
  width: 50%;
  margin: 4px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 1s;
}
.classChat:hover {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  transition: 0.3s ease-in-out;
}

.classParticipants {
  background-color: #212121;

  border: 1px solid #212121;
  height: 100%;
  width: 20%;
  margin: 4px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 1s;
}

.classParticipants:hover {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  transition: 0.3s ease-in-out;
}

h1,
h2 {
  width: 95%;
  margin: 10px auto;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
.classesUserHwPannel {
  float: left;
  width: 86%;
  text-align: left;
  margin: 5px 20px;
}

.homeworkListLink a {
  text-decoration: none;
  color: white;
}

.homeworkListLink a:hover {
  color: teal;
}
.areaChat {
  background-color: #162130;
  text-align: left;
  padding: 10px;
  height: 77vh;
  overflow: auto;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 1s;
}
.areaChat:hover {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  transition: 0.3s ease-in-out;
}
.chatForm {
  width: 95%;
  margin: auto;
  height: 100%;
}
.addHomeworkButton {
  width: 90%;
  margin: auto;
  height: 40px;
  background-color: #2b415e;
  margin-top: 40px;
}

.homeworkList {
  overflow-y: auto;
  width: 100%;
  height: 70%;
}
.participantsList {
  font-size: 25px;
}
.classesUserHwPannel {
  word-wrap: break-word;
}

.inputChat {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 1s;
}

.inputChat:hover {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  box-shadow: 0px 0px 14px 0px rgba(23, 23, 23, 1);
  transition: 0.3s ease-in-out;
}
