@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.home {
    height: calc(100vh - 61px);
    width: 100vw;
    overflow: visible;
}

.center {
    height: 500px;
    width: 1000px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.description {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    text-align: justify;
    width: min-content;
}

.mainWord {
    margin: 0;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
}

.secondaryWord {
    font-size: 36px;
}

.joinNowButton {
    margin: 0 auto;
    cursor: pointer;
}

.joinNowButton button {
    font-size: 30px;
    height: 15%;
    cursor: pointer;
}

@media only screen and (min-width: 901px) {
    .joinNowButton {
        width: 25%;
    }
}

@media only screen and (max-width: 900px) {
    .center {
        padding-top: 50px;
        position: static;
        width: 100%;
        text-align: center;
    }
    .joinNowButton {
        position: static;
    }
    .description {
        position: static;
        display: block;
        margin: auto;
        width: 100%;
        height: min-content;
    }
}

@media only screen and (max-width: 600px) {
    .center {
        padding: 10px;
        width: calc(100% - 20px);
    }
    .mainWord {
        font-size: 75px;
    }
    .secondaryWord {
        font-size: 24px;
    }
}